/*CSS Table */

#table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#table th {
    text-align: center;
    background-color: lightcoral;
    
    color: "#fff";
   

}

#table td, #table th {
    border: 1px solid grey;
    padding: 12px;

}